.wrapper {
    color: var(--text-color);
    width: 270px;
    font-size: 12px;
}

.suggestion {
    padding-top: 12px;
}

.suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px 4px;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
        background-color: rgba(76, 70, 85, 1);;
    }

}

.suggestion-text {
    margin-left: 8px;
}